<div class="d-flex h-100 align-items-center" style="padding-bottom: 150px !important">
    <div class="login-form w-100 align-middle m-0 text-center">
        <div class="mb-5">
            &emsp;
            <i class="fas fa-check fa-5x text-success"></i>
        </div>

        <div class="d-flex align-items-center justify-content-center flex-column h-100 w-100">
            <h3 class="fw-bolder text-dark fs-h4 fs-h1-lg">
                {{ 'ThankYou' | localize }}
            </h3>
            <p class="text-center">
                {{ 'YourPaymentHasBeenCompleted' | localize }}
            </p>
        </div>

        <a class="btn btn-info mt-5" href="/app/admin/subscription-management">
            {{ 'GoToSubscriptionManagement' | localize }}
        </a>
    </div>
</div>
